/*OVERLAY EFFECTS*/

.container {
  display:inline-table;
  position: relative;
}

.pb {
  display: inline;
  border-radius: 1%;
}

.overlay {
  border-radius: 1%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #211e1e;
}

.container:hover .overlay {
  opacity: 0.8;
}

.ltext {
  color: white;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
