
body {                                /*nasconde le barre di scorrimento*/
  overflow: hidden;
  background-color: black;
  font-family: monospace;
}

p {
  position: absolute;
  color: white;
  font-size: 50;
  margin-left: 500px;
  z-index: -1;
}

#sx {
  position: relative;
  float: left;
  z-index: 1;
}

#dx {
  position: relative;
  float: right;
  z-index: 1;
}

#sipario {
  position: absolute;
  z-index: 0;
  }

#home {
    font-size: 40px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 45%;
}
