.mySlides {
   display: none;
   margin: auto;
   /*height: auto;   //da mettere sul css mobile*/
}

.w3-left, .w3-right, .w3-badge {
   cursor: pointer;
}
.w3-badge {
   height: 13px;
   width: 13px;
   padding: 0;
}

.w3-content, .w3-display-container {
   max-width: 800px;
}

.mySlides {
   max-width: 100%;
}

body {   /*temporaneo: proviene da style.css*/
  overflow: hidden;
  background-color: #211e1e;
  font-family:"Underwood Champion", monospace;
  position: relative;
}

.text {
   color: white;
   width: 100%;
   position: absolute;
   top: 0px;
   background-color: rgba(0,0,0,0.8);
   padding: 0.5%;
}

.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
}

.push {
   cursor: pointer;
   font-size: 20px;
}
