body {
  overflow: hidden;;
}

img {
  max-height: 500px;
}

#animated {
  position:relative;
  z-index: -1;
}
#sipario {
  position: absolute;
  z-index: -1;
}

#sx {
  float: left;
}

#dx {
  float: right;
}
